<h2>SIGN IN</h2>

<!-- form to login, creating new session -->
<%= form_for(:session, url: login_path) do |f| %> 
	<div class="form-group">
		<label>Email</label>
		<%= f.email_field :email, placeholder: "Email", class: "form-control" %>
	</div> 
	<div class="form-group">
		<label>Password</label>	 	
  		<%= f.password_field :password, placeholder: "Password", class: "form-control" %>
  	</div>	
    <%= f.submit "SIGN IN", class: "submit" %>
    <!-- link to create profile page -->
    <button class="submit" id="login"><%= link_to "JOIN KILOS", new_user_path %></button>  
<% end %>

<div class="up">
    <%= link_to 'BE OUR GUEST', videos_path %>
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
</div>


