<!-- auto update current user name, put into uppercase -->
<h2><%= image_tag @user.image.url(:small), class:"idThumb" %>  <%= @user.user_name.upcase %></h2>
<!-- <p>Following</p>
<ul>
	<%# if @user.followings.exists? %>
		<%# @user.followings.each do |f| %>
			<li><%#= f.user_name %>
				<%#= link_to "Unfollow", f, :method => :delete %>
			</li>
		<% #end %>
	<%# end %>	
</ul>

<%#= link_to "followers", followings_path %>
	
<ul>
	<%# if @user.inverse_followers.user_id != nil %>
		<%# @user.inverse_followers.each do |f| %>
			<li><%#= f.user_name %>
			</li>
		<%# end %>
	<%# end %>
</ul>	 -->
<!-- iterates through each user video, placing it within a wrapper -->
<% @videos.each do |v| %>
	<div class="contain">
   		<div class="idStamp">
			<span class="idThumb"><%= image_tag v.user.image.url(:small) %></span>
			<%= link_to v.user.user_name, user_path(v.user) %>
			<span class="dateStamp"><%= v.updated_at.strftime("Uploaded %b %-d, %Y") %></span>
		</div>
   		<iframe src="https://www.youtube.com/embed/<%= YoutubeID.from(v.source) %>?modestbranding=1" frameborder="0" seamless></iframe>
   		<div class="textFrame">
     		<h3><%= link_to v.title, video_path(v) %></h3>
			<p><%= v.description %></p>
			<% if (current_user != nil && current_user.id == v.user_id) ||
			  	  (current_user != nil && current_user.id == 1) %>
				<%= link_to 'Edit Video   ', edit_video_path(v.id) %>
				<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
			<% else %>	
				<!-- edit option not visable -->	
			<% end %>
		</div>
	</div> 
<% end %>
<!-- links back to user list -->
<%= link_to 'Video Feed', videos_path %>
<div class="up">
	<%= link_to 'UPLOAD', new_video_path %>
	<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
</div> 


