<h2>EDIT POST</h2>
<!-- form to edit a video post -->
<!-- page is only available to the uploader and admin -->
<%= form_for @video do |v| %>
	<div class="form-group">
		<label>Source</label>
		<%= v.text_field :source, class: "form-control" %>
	</div>
	<div class="form-group">
		<label>Title</label>
		<%= v.text_field :title, class: "form-control" %>    
	</div>
	<div class="form-group">
		<label>Description</label>
		<%= v.text_area :description, class: "form-control" %>
	</div> 
	<%= link_to "Delete video", video_path, method: :delete, data: { confirm: "Are you sure you want to delete this video?"} %> 
	<!-- Finished Editing -->
	<%= v.submit "DONE", class: "submit" %> 
	<!-- return to feed -->
	<button class="submit" id="login"><%= link_to "CANCEL", root_path %></button>
<% end %>
<!-- link to video feed -->
<%= link_to "Back to list", videos_path %></br>