<!DOCTYPE html>
<html>
<head>
  <title>KILOS</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <script src="//use.typekit.net/dbt7vos.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>
  <meta name="viewport" content="width=device-width, initial-scale=1"></head>
<body>
    <nav> 
        <img src="<%= asset_path( 'Menu_Logo.png' ) %>" id="menu_logo">
        <!-- Brand and toggle get grouped for better mobile display -->
        <% if current_user %>
            
            
            <button type="button" class="btn btn-disabled dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="idThumb"><%= image_tag current_user.image.url(:small) %></span><span class="menu-hamburger"></span></button>
            <ul class="dropdown-menu" role="menu">
                <li role="presentation"><%= link_to current_user.user_name, current_user %></li>
                <li role="presentation"><%= link_to "Sign Out", logout_path, method: "delete" %></li>
                <li role="presentation"><%= link_to 'Edit Profile', edit_user_path(current_user.id) %></li>
                <!-- link to all profiles -->
                <li role="presentation"><%= link_to "Kilo Camp", users_path %></li>
            </ul>
        <% else %>
            <img src="<%= asset_path( 'Menu_Logo.png' ) %>" id="menu_logo">
            <button type="button" class="btn btn-disabled dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="idThumb"><%= asset_path( 'pawn.jpg' ) %></span><span class="menu-hamburger"></span></button>
                <ul class="dropdown-menu" role="menu">
                    <li role="presentation"><%= link_to "Login", new_session_path %></li>
			        <li role="presentation"><%= link_to "Signup", new_user_path %></li>
                </ul>
	   <% end %>
    </nav>
<div class="wrap">
    <div class="pageHead">
        <img src="<%= asset_path( 'kiloCover.jpg' ) %>" class="hero">       
    </div>
	<%= yield %>
</div>
<div class="up">
  <%= link_to 'UPLOAD     ', "videos/new" %>
  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
</div>  
</body>
</html>
